@media screen and (max-width: 2560px) {
    .map {
        background-size: cover;
        background-position: center;
        .map__inner {
            margin: 16px 1815px 10px 16px;
            background-color: white;
            opacity: 0.8;
        }
    }
}

@media screen and (max-width: 2224px) {
    .map {
        background-size: cover;
        background-position: center;
        .map__inner {
            margin: 16px 1615px 10px 16px;
            background-color: white;
            opacity: 0.8;
        }
    }
}

@media screen and (max-width: 2024px) {
    .map {
        background-size: cover;
        background-position: center;
        .map__inner {
            margin: 16px 1415px 10px 16px;
            background-color: white;
            opacity: 0.8;
        }
    }
}
@media screen and (max-width: 1824px) {
    .map {
        background-size: cover;
        background-position: center;
        .map__inner {
            margin: 16px 1215px 10px 16px;
            background-color: white;
            opacity: 0.8;
        }
    }
}

@media screen and (max-width: 1624px) {
    .map {
        background-size: cover;
        background-position: center;
        .map__inner {
            margin: 16px 1015px 10px 16px;
            background-color: white;
            opacity: 0.8;
        }
    }
}

@media screen and (max-width: 1424px) {
    .map {
        background-size: cover;
        background-position: center;
        .map__inner {
            margin: 16px 815px 10px 16px;
            background-color: white;
            opacity: 0.8;
        }
    }
}

@media screen and (max-width: 1224px) {
    .map {
        background-size: cover;
        background-position: center;
        .map__inner {
            margin: 16px 615px 10px 16px;
            background-color: white;
            opacity: 0.8;
        }
    }
}

@media screen and (max-width: 1154px) {
    .map {
        background-size: cover;
        background-position: center;
        .map__inner {
            margin: 16px 515px 10px 16px;
            background-color: white;
            opacity: 0.8;
        }
    }
    .contact-us {
        .contact-us__inner {
            .flex-contact-us {
                .flex-contact-us__left {
                    width: 530px;
                    margin-right: 22px;
                    .input-name {
                        width: 530px;
                    }
                    .input-phone {
                        width: 530px;
                    }
                    .input-text {
                        width: 530px;
                    }
                    .title {
                        font-size: 32px;
                    }
                }
                .flex-contact-us__right {
                    .contacts {
                        padding-left: 30px;
                        padding-right: 0px;
                        .title {
                            font-size: 32px;
                        }
                    }    
                }
            }
        }
    }
}

@media screen and (max-width: 992px) {
    .banner {
        .banner__inner {
            padding: 33px 13px 28px 16px;
            .flex-banner {
                .flex-banner__left {
                    position: relative; top: 100px;
                    margin-right: 20px;
                    .img__t-shirts {
                        width: 423px;
                        height: 240px;
                    }
                }
                .flex-banner__right {
                    .title {
                        font-size: 44px;
                        line-height: 60px;
                        max-width: 520px;
                        padding-right: 20px;
                        margin-bottom: 48px;
                    }
                    .button {
                        margin-bottom: 32px;
                        }
                    }
                }
            }
    }
    .about {
            .about__inner {
                padding: 0px 15px 0px 16px;
                .flex-about {
                    .flex-about__left {
                        max-width: 990px;
                        margin-top: 35px;
                            .title {
                                font-size: 36px;
                            }
                    }
                    .flex-about__right {
                        position: relative;
                        top: -140px;
                        .img__bag {
                            width: 147px;
                            height: 207px;
                        }
                    }
            }
        }
    }
    .catalog__inner {
        padding: 49px 13px 54px 16px;
            .title {
                font-size: 36px;
            }
            .grid-catalog {
                .third-column {
                    .fifth-block {
                            .img__for-house {
                                width: 165px;
                                height: 165px;
                            }
                    }
                }
                .fourth-column {
                    .sixth-block {
                        .img__photo {
                            width: 165px;
                            height: 165px;
                        }
                    }
                }
            }
    }
    .subtitle__catalog {
        font-size: 30px;
        margin-bottom: 9px;
        margin-top: 0px;
    }
    .seo__inner {
        padding-right: 11px;
    }

    .map {
        background-size: cover;
        background-position: center;
        .map__inner {
            margin: 16px 415px 10px 16px;
            background-color: white;
            opacity: 0.8;
        }
    }


    .contact-us {
        .contact-us__inner {
            padding: 24px 18px 30px 16px;
            .flex-contact-us {
                .flex-contact-us__left {
                    margin-right: 32px;
                    .title {
                        font-size: 36px;
                    }
                    input {
                        width: 452px;
                        height: 42px;
                    }
                }
                .flex-contact-us__right {
                    width: 477px;
                    .contacts {
                        padding-right: 30px;
                        .title {
                            font-size: 36px;
                        }
                }
            }
        }
    }
}
}

@media screen and (max-width: 937px) {
    .contact-us {
        .contact-us__inner {
            .flex-contact-us {
                .flex-contact-us__left {
                    width: 480px;
                    margin-right: 22px;
                    .input-name {
                        width: 480px;
                    }
                    .input-phone {
                        width: 480px;
                    }
                    .input-text {
                        width: 480px;
                    }
                    .title {
                        font-size: 32px;
                    }
                }
                .flex-contact-us__right {
                    .contacts {
                        padding-left: 30px;
                        padding-right: 0px;
                        .title {
                            font-size: 32px;
                        }
                    }    
                }
            }
        }
    }
}

@media screen and (max-width: 894px) {
    .contact-us {
        .contact-us__inner {
            .flex-contact-us {
                .flex-contact-us__left {
                    width: 370px;
                    margin-right: 22px;
                    .input-name {
                        width: 370px;
                    }
                    .input-phone {
                        width: 370px;
                    }
                    .input-text {
                        width: 370px;
                    }
                    .title {
                        font-size: 32px;
                    }
                }
                .flex-contact-us__right {
                    .contacts {
                        padding-left: 30px;
                        padding-right: 0px;
                        .title {
                            font-size: 32px;
                        }
                    }    
                }
            }
        }
    }
}

@media screen and (max-width: 826px) {
    .map {
        background-size: cover;
        background-position: center;
        .map__inner {
            margin: 16px 315px 10px 16px;
            background-color: white;
            opacity: 0.8;
        }
    }
    .about {
        .about__inner {
            .flex-about {
                .flex-about__right {
                    .img__bag {
                        display: none;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 804px) {
    .nav__inner {
        .flex-nav {
            .flex-nav__second-block {
                .display-none-768 {
                    display: none;
                }
            }
        }
    }
    .about {
        .about__inner {
            .flex-about {
                .flex-about__right {
                    .img__bag {
                        display: none;
                    }
                }
            }
        }
    }
    .contact-us {
        .contact-us__inner {
            .flex-contact-us {
                .flex-contact-us__left {
                    width: 370px;
                    margin-right: 22px;
                    .input-name {
                        width: 370px;
                    }
                    .input-phone {
                        width: 370px;
                    }
                    .input-text {
                        width: 370px;
                    }
                    .title {
                        font-size: 32px;
                    }
                }
                .flex-contact-us__right {
                    .contacts {
                        padding-left: 30px;
                        padding-right: 0px;
                        .title {
                            font-size: 32px;
                        }
                    }    
                }
            }
        }
    }
}
@media screen and (max-width: 768px) {
    .nav__inner {
        padding: 0px 25px 0px 16px;
            .flex-nav {

                .flex-nav__second-block {
                    .display-none-768 {
                        display: none;
                    }
                }
                .first-block {
                    .items {
                        .buttons {
                            margin-right: 34px;
                        }
                    }
                }
            }
        }
        .banner {
            .banner__inner {
                .flex-banner {
                    .flex-banner__left {
                        position: relative; top: 160px;
                        .flex-banner__right {
                            .h1-text__banner {
                                font-size: 36px;
                            }
                            .title {
                                font-size: 36px;
                                margin-bottom: 15px;
                            }

                        }
                    }    
                }
            }
        }
        .about {
            .about__inner {
                .flex-about {
                    .flex-about__right {
                        .img__bag {
                            display: none;
                        }
                    }
                }
            }
        }
                       
    .catalog {
        height: 1250px;    
        .catalog__inner {
            padding: 49px 0px 0px 16px;
                .grid-catalog {
                    display: grid;
                    grid-template-columns: repeat(3, 1fr);
                    .fourth-column {
                        grid-row: 2/3;
                        grid-column: 2/3;
                        .sixth-block {
                            .img__photo {
                                position: relative;
                                right: 260px;
                                top: -190px;
                            }
                        }
                    }
                }
        }
    }

    .map {
        background-size: cover;
        background-position: center;
        .map__inner {
            margin: 16px 300px 10px 16px;
            background-color: white;
            opacity: 0.8;
        }
    }
    .contact-us {
        .contact-us__inner {
            .flex-contact-us {
                .flex-contact-us__left {
                    width: 370px;
                    margin-right: 22px;
                    .input-name {
                        width: 370px;
                    }
                    .input-phone {
                        width: 370px;
                    }
                    .input-text {
                        width: 370px;
                    }
                    .title {
                        font-size: 32px;
                    }
                }
                .flex-contact-us__right {
                    .contacts {
                        padding-left: 30px;
                        padding-right: 0px;
                        .title {
                            font-size: 32px;
                        }
                }
            }
        }
    }
}
}

