html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}        
*, *::before, *::after {
    box-sizing: inherit;
}
body {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    margin: 0;
}
.container {
    max-width: 100%;
    margin: 0 auto;
}
.menu__inner {
    padding: 16px 30px 10.46px 16px;
}
.flex-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
        .flex-menu__first-block {
            display: flex;
        }
            .menu__logo {
                margin-right: 34.5px;
            }
}   
.menu__contact-information {
    margin-top: 17px;
        .phone-number {
            margin-top: 0px;
            margin-bottom: 1px;
            font-size: 24px;
            font-weight: 600;
        }
        .address {
            margin-top: 0px;
            margin-bottom: 0px;
        }
}
.menu__icons {
    margin-top: 5px;
        .menu__icon:hover {
            cursor: pointer;
            opacity: 0.9;
        }
            .vk {
             margin-left: 22px;
            }
}
.nav__inner {
    background-color: #00AFCC;
    padding: 0px 30px 0px 16px;
}
.flex-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
        .nav-items {
            margin: 14px 0px 14px 0px;
            padding-left: 0px;
            display: flex;
            list-style: none;
            color: white;
            font-size: 20px;
            font-weight: 700;
            cursor: pointer;
            align-items: center;
        }
            .nav-buttons {
                margin-right: 54px;
            }
                li:nth-child(3) {
                    margin-right: 0px;
                }
}
.flex-nav__second-block {
    display: flex;
    align-items: center;
        .vertical-line{
            margin-right: 26px;
        }
            li:nth-child(1){
                margin-right: 0px;
            }
}

.top__right {
    position: relative;

    .banner__soul {
        position: relative;
        left: 950px;
        bottom: 400px;
        font-size: 52px;
        color: #ffffff;
        width: 676px;
        height: 161px;
    }
    .contact__btn {
        position: relative;
        left: 950px;
        bottom: 400px;
        background: #FF7D00;
        font-size: 24px;
        font-family: "Open Sans", sans-serif;
        color: #ffffff;
        padding-top: 12px;
        padding-bottom: 12px;
        padding-left: 33px;
        padding-right: 33px;
        
    }
}

.banner {
    background-image: url(../assets/img/bg.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.banner__inner {
    padding: 33px 42px 20px 16px;
    .flex-banner {
        display: flex;
        justify-content: flex-start;
    }
        .flex-banner__left {
            padding-top: 5px;
            margin-right: 69.5px;
        }
}
.h1-text__banner {
    color: white;
    font-size: 52px;
    margin: 0;
    max-width: 676px;
    margin-bottom: 30px;
    line-height: 70px;
    font-weight: bold;
}
.button-banner {
    background-color: #FF7D00;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    border: 0px;
    width: 300px;
    height: 61px;
    border-radius: 10px;
    margin-bottom: 94px;
            .button-banner-text {
                color: white;
                font-size: 24px;
                margin: 0;
                font-weight: 600;
            }
                &:hover {
                    background-color: #FC912A;
                    cursor: pointer;
                }
                &:focus {
                    background-color: #FF6B00;
                }
}

.about {
    background-color: #73E5FF;
    max-height: 233px;
        .about__inner {
            padding: 0px 42px 0px 16px;
        }
            .flex-about {
                display: flex;
                justify-content: space-between;
            }
}
.flex-about__left {
    max-width: 990px;
    margin-top: 35px;
        .text-h2__about {
            margin: 0px;
            font-size: 40px;
        }
        .text-p__about {
            margin-top: 13px;
            font-size: 20px;
            line-height: 28.13px;
            font-weight: 500;
        }
}
.flex-about__right {
    position: relative;
    top: -160px;
}

.catalog__inner {
    padding: 49px 0px 49px 16px;
        .text-h2__catalog {
            font-size: 40px;
            margin-top: 0px;
            margin-bottom: 52px;
        }
        .grid-catalog {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            .first-column {
                margin-top: 10px;
                .first-block {
                    margin-bottom: 58px;
                    .img__t-shirt {
                        margin-bottom: 17px;
                    }
                }   
            }
            .second-block {
                .img__cup {
                    margin-bottom: 17px;
                }
            }
            .third-block {
                margin-bottom: 40px;
                    .img__bag {
                        margin-top: 20px;
                    }
            }
            .fifth-block {
                margin-top: 12px;
                    .img__frame {
                        margin-bottom: 28px;
                    }
            }
            .sixth-block {
                .img__photo {
                    margin-top: 17px;
                }
            }
    }
}
.text-h3__catalog {
    font-size: 36px;
    margin-bottom: 9px;
    margin-top: 0px;
}
.catalog__items {
    list-style: none;
    padding-left: 0px;
    margin: 0;
}
    .link {
        font-size: 18px;
        line-height: 36.77px;
            a {
                cursor: pointer;
                color: #00636D;
                &:hover {
                    text-decoration: none;
                }
            }
}
