html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  margin: 0;
}

.container {
  max-width: 100%;
  margin: 0 auto;
}

.menu__inner {
  padding: 16px 30px 10.46px 16px;
}

.flex-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.flex-menu .flex-menu__first-block {
  display: flex;
}
.flex-menu .menu__logo {
  margin-right: 34.5px;
}

.menu__contact-information {
  margin-top: 17px;
}
.menu__contact-information .phone-number {
  margin-top: 0px;
  margin-bottom: 1px;
  font-size: 24px;
  font-weight: 600;
}
.menu__contact-information .address {
  margin-top: 0px;
  margin-bottom: 0px;
}

.menu__icons {
  margin-top: 5px;
}
.menu__icons .menu__icon:hover {
  cursor: pointer;
  opacity: 0.9;
}
.menu__icons .vk {
  margin-left: 22px;
}

.nav__inner {
  background-color: #00AFCC;
  padding: 0px 30px 0px 16px;
}

.flex-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flex-nav .nav-items {
  margin: 14px 0px 14px 0px;
  padding-left: 0px;
  display: flex;
  list-style: none;
  color: white;
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
  align-items: center;
}
.flex-nav .nav-buttons {
  margin-right: 54px;
}
.flex-nav li:nth-child(3) {
  margin-right: 0px;
}

.flex-nav__second-block {
  display: flex;
  align-items: center;
}
.flex-nav__second-block .vertical-line {
  margin-right: 26px;
}
.flex-nav__second-block li:nth-child(1) {
  margin-right: 0px;
}

.top__right {
  position: relative;
}
.top__right .banner__soul {
  position: relative;
  left: 950px;
  bottom: 400px;
  font-size: 52px;
  color: #ffffff;
  width: 676px;
  height: 161px;
}
.top__right .contact__btn {
  position: relative;
  left: 950px;
  bottom: 400px;
  background: #FF7D00;
  font-size: 24px;
  font-family: "Open Sans", sans-serif;
  color: #ffffff;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 33px;
  padding-right: 33px;
}

.banner {
  background-image: url(../assets/img/bg.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.banner__inner {
  padding: 33px 42px 20px 16px;
}
.banner__inner .flex-banner {
  display: flex;
  justify-content: flex-start;
}
.banner__inner .flex-banner__left {
  padding-top: 5px;
  margin-right: 69.5px;
}

.h1-text__banner {
  color: white;
  font-size: 52px;
  margin: 0;
  max-width: 676px;
  margin-bottom: 30px;
  line-height: 70px;
  font-weight: bold;
}

.button-banner {
  background-color: #FF7D00;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  border: 0px;
  width: 300px;
  height: 61px;
  border-radius: 10px;
  margin-bottom: 94px;
}
.button-banner .button-banner-text {
  color: white;
  font-size: 24px;
  margin: 0;
  font-weight: 600;
}
.button-banner:hover {
  background-color: #FC912A;
  cursor: pointer;
}
.button-banner:focus {
  background-color: #FF6B00;
}

.about {
  background-color: #73E5FF;
  max-height: 233px;
}
.about .about__inner {
  padding: 0px 42px 0px 16px;
}
.about .flex-about {
  display: flex;
  justify-content: space-between;
}

.flex-about__left {
  max-width: 990px;
  margin-top: 35px;
}
.flex-about__left .text-h2__about {
  margin: 0px;
  font-size: 40px;
}
.flex-about__left .text-p__about {
  margin-top: 13px;
  font-size: 20px;
  line-height: 28.13px;
  font-weight: 500;
}

.flex-about__right {
  position: relative;
  top: -160px;
}

.catalog__inner {
  padding: 49px 0px 49px 16px;
}
.catalog__inner .text-h2__catalog {
  font-size: 40px;
  margin-top: 0px;
  margin-bottom: 52px;
}
.catalog__inner .grid-catalog {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.catalog__inner .grid-catalog .first-column {
  margin-top: 10px;
}
.catalog__inner .grid-catalog .first-column .first-block {
  margin-bottom: 58px;
}
.catalog__inner .grid-catalog .first-column .first-block .img__t-shirt {
  margin-bottom: 17px;
}
.catalog__inner .grid-catalog .second-block .img__cup {
  margin-bottom: 17px;
}
.catalog__inner .grid-catalog .third-block {
  margin-bottom: 40px;
}
.catalog__inner .grid-catalog .third-block .img__bag {
  margin-top: 20px;
}
.catalog__inner .grid-catalog .fifth-block {
  margin-top: 12px;
}
.catalog__inner .grid-catalog .fifth-block .img__frame {
  margin-bottom: 28px;
}
.catalog__inner .grid-catalog .sixth-block .img__photo {
  margin-top: 17px;
}

.text-h3__catalog {
  font-size: 36px;
  margin-bottom: 9px;
  margin-top: 0px;
}

.catalog__items {
  list-style: none;
  padding-left: 0px;
  margin: 0;
}

.link {
  font-size: 18px;
  line-height: 36.77px;
}
.link a {
  cursor: pointer;
  color: #00636D;
}
.link a:hover {
  text-decoration: none;
}/*# sourceMappingURL=style.css.map */